.wrapper {
  display: flex;
  align-items: stretch;
}     

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: fit-content;
  background-color: rgb(247, 128, 148);
}

#sidebar.active {
  margin-left: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

#bs-example-navbar-collapse-1 {
  background-color: white;
  border: none;
  outline: none;
  text-decoration: none;
}

#testid {
  background-color: white;
  border: none;
  outline: none;
}

#h3header {
  text-decoration: underline;
  padding-left: 5px;
}

#pinfo {
  padding-left: 5px;
}

#sidebarCollapse {
  background-color: white;
  color: #50131c;;
  border: none;
  font-size: 25px;
}

#contentHeader {
  text-align: center;
}

#containerContent {
  width: auto;
}