.wrapper {
  display: flex;
  align-items: stretch;
}     

#sidebarOne {
  width: 25rem;
  height: fit-content;
  background-color: transparent;
  border: none;
}

#sidebarOne.active {
  margin-left: -250px;
}

#testidOne {
  background-color: transparent;
  border: none;
  outline: none;
}

#poneinfo {
  padding-left: 5px;
}

#sidebarCollapseOne {
  position: absolute;
  left: 0;
  background-color: transparent;
  color: #50131c;
  border: none;
  font-size: 25px;
}

#contentHeaderOne {
  text-align: center;
  text-decoration: underline;
  padding-left: 5px;
}



